@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jersey+10&display=swap");

* {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.logo__name p {
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    line-height: 0.8em;
    letter-spacing: 0.2em;
}
